body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

main {
    display: flex;
    height: calc(100vh - 30px);
    width: 100%;
    overflow: hidden;
    position: relative;
}

.window {
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: inherit;
    z-index: 1;
}

.context-menu {
    position: fixed;
    display: none;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    z-index: 1;
}

.context-menu button {
    display: block;
    width: 100%;
    border: none;
    background: none;
    padding: 8px;
    text-align: left;
}

.context-menu button:hover {
    background-color: #f0f0f0;
}

#jsmind_container {
    position: absolute;
    width: 200%;
    height: 200%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    background: inherit;
    box-sizing: border-box;
    padding: 20px;
    z-index: 1;
}

/* Стилизуем скроллбары */
#jsmind_container::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

#jsmind_container::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

#jsmind_container::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

#jsmind_container::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3);
}

.jsmind-node {
    cursor: pointer;
}

.jsmind-node:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.style-sidebar {
    position: fixed;
    left: 0;
    top: 30px;
    bottom: 0;
    z-index: 2;
    background: inherit;
}