body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    display: grid;
    grid-template-columns: 25% 75%;
    height: 100%;
    overflow: hidden;
}

.window {
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.button-main-menu {
    width: 97%;
    font-size: 16px;
    margin: 10px 1.5% 0px 1.5%;
    height: 50px;
}

.img-card {
    width: 35vh;
    height: 28vh;
    border: none;
    margin: 1vh;
    object-fit: contain;
    object-position: center;
}

.card {
    width: 50vh;
    height: auto;
    justify-items: center;
    margin: 1vh;
    box-sizing: border-box;
    flex: 0 0 auto;
}

.button-card {
    width: 20vh;
    height: 10vh;
    margin: 1vh;
}

.block-history {
    height: 100%;
    overflow-y: auto;
}

#create-map, #existing-maps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vh;
    overflow-y: auto;
    height: auto;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}
