/* 

    Это фал стилей для главного окна, который подгружается во время запуска проекта.

*/

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main{
    display: grid;
    grid-template-columns: 25% 75%;
    height: 100%;
}

.window {
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.button-main-menu {
    width: 97%; /* Кнопки занимают всю ширину родительского контейнера */
    font-size: 16px;
    margin: 10px 1.5% 0px 1.5%; /* Отступы сверху и снизу */
    height: 50px;
}

.img-card{
    width: 35vh;
    height: 28vh;
    border: none;
    margin: 1vh;
}

.card{
    width: 50vh;
    /* height: 40vh; */
    justify-items: center;
    margin: 1vh 1vh 0vh 1vh;
}

.button-card{
    width: 20vh;
    height: 10vh;
    margin: 1vh;
}